<<<<<<< HEAD
ul {
    background-color: #055772;
    /* background-color: #172238; */
=======

ul{
    background-color: #083e47;
>>>>>>> refs/remotes/origin/main
    /* color: white; */
    height: 60px;
    font-size: 20;

}