*{
    direction: rtl;
}
body {
    text-align: right;
    /* background-color: rgb(52,92,100); */
    background-color: lightgrey;
    position: relative;
}
.container {
    background-color:rgb(75,129,137);
    border-style: groove;
    font-size: 17px;
    border-radius: 25px;
    position: absolute;
}
