/* font import start */


/* @font-face {
    font-family: 'baloo_bhaijaan_2regular';
    src: url('assets/fonts/webfontkit_Baloo_Bhaijaan_2/baloobhaijaan2-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/fonts/webfontkit_Baloo_Bhaijaan_2/baloobhaijaan2-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */


/* font import end */

* {
    direction: rtl;
}

body {
    text-align: right;
    /*background-color: #0a4b64;*/
    /* background-color: #00b2cec7; */
    /* background: rgb(224, 205, 205); */
    background: linear-gradient(#276f85, #e8e9f3);
    /* background-color: #0a4b64; */
    background-color: #97e0ebc7;
    background-color: #0d8396c7;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.container {
    /*background-color: #0e2a49;*/
    /* background-color: #0a4b64; */
    /* background-color: rgb(75, 129, 137); */
    /* background-image: linear-gradient(to right, #00b4db, #0083b0); */
    /* background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4, 189, 228, 1) 0%, rgba(2, 83, 185, 1) 100.2%); */
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    /* background-image: linear-gradient(to right, #2c3e50, #3f7f89); */
    /* background-image: linear-gradient(to right, #141e30, #243b55); */
    border-style: groove;
    font-size: 17px;
    border-radius: 15px;
    position: absolute;
    color: #ffffff;
    border-color: #233140;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-fluid {
    color: #000000;
    border-style: groove;
    font-size: 19px;
    border-radius: 15px;
    /* position: absolute; */
    border-color: #005792;
}