/* container style */

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/* table style */

#tableFixHead {
    overflow-y: auto;
    height: 500px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
    background: #425262;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #d9e9fa;
}

tbody {
    background-color: #c5ddf7;
}


/*عمود البحث*/

#search_col input {
    width: 170px;
}

#search_col button {
    margin: 0px 10px;
}


/* زر حساب جديد */

#new_account_col {
    text-align: left;
    padding-left: 15px;
}


/* العنوان */


/* #header {
    height: 50px;
} */

h3 {
    font-weight: bold;
    /* margin-top: 50; */
}