body{
    justify-content:center ;
}
.container{
    top:13% ;
    left:15%;
    font-size: 17px;
    padding: 5px;

}
#btn-grp{
    border-radius: 4px;
    text-align: center;
    margin: 1px;
    width: 80px;
}