/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 400px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
}

th {
    background: #eee;
}
#date_col{
    width: 8%;
}
#doc_col{
    width: 9%;
}
#cross_col{
    width: 10%;
}
#item_col{
    display:none;
    width:6% ;

}
#total_wight,#last_wight{
    width: 8%;

}
#num_col{
    width: 5%;
}
#total_price_col{
    width: 10%;
}

#btn-grp,#print {
    border-radius: 4px;
    text-align: center;
    margin: 1px;
    width: 80px;
}

.form-check-label {
    margin-right: 20px;
}

#lbl-radio-type {
    padding-right: 5px;
}
.account_auto{
    padding-left: 0;
    padding-right:0;

}