
.container-fluid{
    left: 6%;
    /* top:6%; */
    width: 90%;
}
#search_col{
    padding-right: 50px;
}
#search{
    text-align: right;
    justify-content:right;
}
#new_account_col{
    text-align: left;
    padding-left: 70px;
}
#close-colum{
    text-align: left;

}