.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}

#tableFixHead {
    overflow-y: auto;
    height: 520px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
}

th {
    background: #eee;
}

#search_col {
    padding-right: 50px;
}

#search {
    text-align: right;
    justify-content: right;
}

#new_account_col {
    text-align: left;
    padding-left: 70px;
}

#close-colum {
    text-align: left;
}