/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}

#from_date,
#to_date {
    padding-left: 0px;
    padding-right: 0px;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 19.5em;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
    background: #425262;
    color: #fff;
    padding-right: 4px;
    padding-left: 4px;
}

#tableFixHead tbody tr:nth-child(odd) {
    background-color: #d9e9fa;
}

#tableFixHead tbody {
    background-color: #c5ddf7;
    /* background-color: rgb(238, 224, 224); */
}

#tableFixHead tbody td {
    padding-right: 4px;
    padding-left: 4px;
}

#date_col {
    width: 8%;
}

#doc_col {
    width: 11%;
    padding-right: 4px;
    padding-left: 4px;
}

#cross_col {
    width: 12%;
}

#item_col {
    display: none;
    width: 6%;
}


/* #total_wight,
#last_wight {
    width: 8%;
} */

#num_col {
    width: 5%;
}

#total_price_col {
    width: 10%;
}

#btn-grp,
#print {
    border-radius: 4px;
    text-align: center;
    margin: 1px;
    width: 80px;
}

.form-check-label {
    margin-right: 20px;
}

#lbl-radio-type {
    padding-right: 5px;
}

.account_auto {
    padding-left: 0;
    padding-right: 0;
}