/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*  header style(العنوان) */

#header {
    height: 50px;
}

h3 {
    font-weight: bold;
}


/*radio button style*/

#radio_row {
    margin: 0px 20px;
    font-size: 19px;
    font-weight: normal;
}

#radio_row div {
    margin: 0px 10px;
    font-weight: normal;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 500px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: -1;
    background: rgb(223, 99, 99);
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

thead {
    border: none;
}

tbody {
    background-color: rgb(238, 224, 224);
}

th {
    background: #ccc;
    text-align: center;
    color: #050102;
    font-size: 18px;
    font-weight: normal;
}

.sold {
    background-color: #002E60;
    width: 75px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
}

.not_sold {
    background-color: #207CDF;
    width: 75px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
}

.btn {
    -moz-box-shadow: 0 0 10px rgb(5, 4, 4);
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 100px;
}

.radio_lbl {
    cursor: pointer;
}