/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*  header style(العنوان) */

#header {
    height: 50px;
}

h3 {
    font-weight: bold;
}


/*radio button style*/

#radio_row {
    margin: 0px 20px;
    font-size: 19px;
    font-weight: normal;
}

#radio_row div {
    margin: 0px 10px;
    font-weight: normal;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 450px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: -1;
    
}
thead{
border: none;
}

th {
    background: #ccc;
    text-align: center;
    color: #050102;
    font-size: 18px;
    font-weight: normal;
    
}
.sold{
    background-color: #002E60;
    width: 75px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
}
.not_sold{
    background-color:#207CDF ;
    width: 75px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;

}
.btn{
    -moz-box-shadow: inset 0 0 10px rgb(39, 34, 34);
    -webkit-box-shadow: inset 0 0 10px rgb(39, 34, 34);
    box-shadow: inset 0 0 10px rgb(39, 34, 34);
    width: 100px;

}
.radio_lbl{
    cursor: pointer;
}