body {
    text-align: right;
    background-color: LightGray;
    position: relative;
}

.container {
    position: absolute;
    /* background-color: #5F9EA0; */
    border-style: groove;
    border-radius: 25px;
    width: 1000px;
    height: 620px;
    font-size: 17px;
    padding: 5px;
}

#res_number {
    column-width: 50px;
}

#res_num {
    padding-right: 125px;
}

h2,
#inf_row {
    padding-right: 20px;
}

#btn-grp {
    border-radius: 4px;
    text-align: center;
    margin: 1px 3px;
    width: 60px;
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 36, 0.938) ;
    cursor: pointer;
}

#last_previous,
#previous,
#next,
#last_next {
    border-radius: 4px;
    margin: 0px 2px;
    padding-right: 6px;
    box-shadow: 0px 0px 5px 1px rgba(34, 34, 36, 0.938) ;
}
span{
    font-size: 23px;
    width: 25px;
   
}

.modal {
    position: fixed;
    /* Stay in place */
    overflow: auto;
    /* Enable scroll if needed */
}

.modal-dialog {
    min-width: 790px;
}

.modal-content {
    min-width: 780;
    min-height: 650px;
    border-radius: 25px;
    border-style: groove;
    margin: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    padding: 0 10px;
    /* background-color: rgb(52,92,100);; */
    /* color: white;    */
    display: flex;
}

.modal-body {
    position: relative;
    min-width: 780;
    min-height: 630px;
    background-color: rgb(52, 92, 100);
}

h4 {}

#iframe_account_card {
    position: absolute;
    width: 770px;
    height: 600px;
}

#code {
  margin-left: 25px;
  width: 70px;
  margin-right:5px;
}
#lbl_code{
    padding-right: 25px;
    margin-left: 4px;
}