.container {
    width: 35em;
    height: 21em;
    margin-bottom: 0;
}

#category_col {
    position: absolute;
    width: 90%;
    height: 90%;
}

#button_grp {
    /* border-radius: 5px;
    margin: 6px;
    width: 80px; */
    width: 3.9em;
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 36, 0.938);
}

#button_col {
    /* margin-left: 3em; */
}

#btn-grp1 {
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 36, 0.938);
}

h4 {
    margin-right: 1.25em;
}

#last_previous,
#previous,
#next,
#last_next {
    /* margin: 0px 4px; */
    border-radius: 0.25em;
    margin: 0px 2px;
    padding-right: 0.375em;
    box-shadow: 0px 0px 5px 1px rgba(34, 34, 36, 0.938);
}

span {
    font-size: 23px;
    width: 1.563em;
}