.container{
    top:25% ;
    left:25%;
    width: 600px ;
    height: 330px ;
    margin-bottom: 0; 
}
#category_col{
    position: absolute;
    width: 90%;
    height: 90%;
}
#button_grp{
    border-radius: 5px;
    margin: 6px;
    width: 80px;
}