.container {
    width: 600px;
    height: 350px;
    margin-bottom: 0;
}

#category_col {
    position: absolute;
    width: 90%;
    height: 90%;
}

#button_grp {
    /* border-radius: 5px;
    margin: 6px;
    width: 80px; */
    width: 63px;
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 36, 0.938) ;
}

#button_col {
   margin-right: 25%;
}

h4 {
    margin-right: 20px;
}

#last_previous,
#previous,
#next,
#last_next {
    /* margin: 0px 4px; */
    border-radius: 4px;
    margin: 0px 2px;
    padding-right: 6px;
    box-shadow: 0px 0px 5px 1px rgba(34, 34, 36, 0.938) ;
}
span{
    font-size: 23px;
    width: 25px;
   
}