body {
    background-color: LightGray;
    text-align: right;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluide {
    position: absolute;
    border-style: groove;
    top: 6%;
    left: 9%;
    width: 1300px;
    border-radius: 25px;
    border-style: groove;
    background-color: #5F9EA0;
    font-size: 19px;
}
.modal{
    position: fixed; /* Stay in place */
    overflow: auto; /* Enable scroll if needed */
}
#modal_dialog_account{
    min-width: 790px;  
}
#modal_content_account{
    min-width: 780;
    min-height: 610px;
    border-radius: 25px;
    border-style: groove;
    margin: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
#modal_header_account{ 
    padding: 0 10px;
    /* background-color: rgb(52,92,100);; */
    /* color: white;    */
    display: flex;
}
#modal_body_account{
    position: relative;
    min-height: 590px;
    min-width: 780;
    background-color:rgb(52,92,100);
}
h4{  
}
#iframe_account_card{
    position: absolute;
    width:770px;
    height:560px;
   
}
#modal_dialog_item{
    /* min-width: 700px;   */
}
#modal_content_item{
    min-width:790px ;
    min-height:500px ;
    border-radius: 25px;
    border-style: groove;
    margin: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
}
#modal_header_item{ 
    padding: 0px 10px;
    /* background-color: rgb(52,92,100);; */
    /* color: white;    */
    display: flex;
}
#modal_body_item{
    position: relative;
    min-width:780px ;
    min-height:500px ;
    background-color:rgb(52,92,100);
}
#iframe_item_card {
    position: absolute;
    min-width:770px;
    min-height:480px;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
    }

    @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }
    /* The Close Button */
    .close {
        color: #aaa;
        float: left;
        font-size: 28px;
        font-weight: bold;
        margin-left: 30px;
        margin-top: 30px;
    }
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }


td input {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

table {
    width: 60%;
}

#btn-grp {
    border-radius: 5px;
    margin: 6px;
    width: 80px;
}


#last_previous,#previous,#next,#last_next {
    margin: 0px 4px;
    border-radius: 4px;
}
h2{
    margin: 0 15;
}