
.container-fluide {
    width: 100%;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 320px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
}

th {
    background: #eee;
}

td input {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#date {
    width: 145px;
    border: none; 
    /* padding-right: 0px;   
    padding-bottom: 3px; */
    padding-left: 0px;
    padding: 2px;
}
#bill_date_lbl{
    /* padding-top: 4px; */

}
#bill_num_lbl{
    /* padding-top: 4px; */

}

#code {
    /* background: inherit; */
    /* border: none; */
    /* padding-bottom: 3px; */
    padding: 2px;
    
   
}

#add_row,#toggle_discount {
    /* border-radius: 50%; */
    /* border: solid black 2px; */
    background-color: inherit;
    border: none;
    /* font-size: 20px; */
    margin: 1px 0px;
    cursor: pointer;
}

#total,
#real {
    margin-left: 8%;
}

#commission_title input {
    width: 50px;
    margin: 0 8px;

}

#commisson {
    margin-left: 3%;
}

#commision_value input {
    width: 100px;
    margin-right: 10px;
}

#total input {
    margin-right: 10px;
    width: 120px;
    }


#real input {
    margin-right: 10px;
    width: 120px;
}

.modal {
    position: fixed;
    /* Stay in place */
    overflow: auto;
    /* Enable scroll if needed */
}

#modal_dialog_account {
    min-width: fit-content;
    min-height: fit-content;
}

#modal_content_account {
    min-width: 770;
    min-height: 650px;
    border-radius: 25px;
    border-style: groove;
    margin: auto;
    animation-duration: 0.4s
}

#modal_header_account {
    padding: 0 10px;
    /* background-color: rgb(52,92,100);; */
    /* color: white;    */
    display: flex;
}

#modal_body_account {
    position: relative;
    min-width: 770;
    min-height: 630px;
}

#iframe_account_card {
    /* position: absolute; */
    width: 770px;
    height: 600px;
}

#modal_dialog_item {
   min-width: fit-content;
   min-height: fit-content;
}

#modal_content_item {
    min-width: 795px;
    min-height: 500px;
    border-radius: 25px;
    border-style: groove;
    margin: auto;
    animation-duration: 0.4s;
}

#modal_header_item {
    padding: 0px 10px;
    /* background-color: rgb(52,92,100);; */
    /* color: white;    */
    display: flex;
}

#modal_body_item {
    position: relative;
    min-width: 770px;
    min-height: 500px;
    background-color: inherit;
    border-radius: inherit;
}

#iframe_item_card {
    position: absolute;
    min-width: 770px;
    min-height: 480px;
    border-radius: inherit;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* table {
    width: 60%;
} */

#btn-grp {
    border-radius: 5px;
    margin: 6px;
    width: 80px;
}

#last_previous,
#previous,
#next,
#last_next {
    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px rgba(34, 34, 36, 0.938) ;
    margin: 0px 2px;
   
}
span{
    font-size: 23px;
    width: 25px;
}

h2 {
    margin: 0 15;
}