/* body {
    text-align: right;
    background-color: #b0bec5;
} */
.c{
    color:#800000	;
}
/* .bd-sidebar{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
} */
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
  }

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar div {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar div.active {
    background-color: #0033cc;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-right: 200px;
    padding: 1px 16px;
    height: 1000px;


}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
                    }

.sidebar a {
      float: left;
                    }

    div.content {
      margin-left: 0;
                    }
}

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }