body {
    box-shadow: 10px 10px 5px grey;
}

.container {
    width: 700px;
    height: 450px;
    margin-bottom: 0;
}

#btn_grp1,
#button-grp2 {
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 36, 0.938) ;

}


#button-grp2 {
    width: 70px;
}

h4 {
    margin-right: 20px;
}

#last_previous,
#previous,
#next,
#last_next {
    /* margin: 0px 4px; */
    border-radius: 4px;
}