/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*buttons style*/

#categry_col {
    padding-left: 33px;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 520px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    background: #425262;
    color: #fff;
    top: 0;
}

tbody tr:nth-child(odd) {
    background-color: #d9e9fa;
}

tbody {
    background-color: #c5ddf7;
}


/*header style*/

h3 {
    margin-right: 1%;
    font-weight: bold;
    margin-top: 50;
}


/*search style*/

#search_col button {
    margin: 0px 10px;
}

#search_col input {
    width: 170px;
}