body{
    box-shadow: 10px 10px 5px grey;
    
}
.container{
    top:20% ;
    left:20%;
    width: 700px ;
    height: 430px ;
    margin-bottom: 0;

}
#button-grp1,#button-grp2{
    border-radius: 4px;
    text-align: center; 
     margin: 3px;
}

#button-grp1{
}
#button-grp2{
    width: 80px;   
}