/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*buttons style*/

#categry_col {
    padding-left: 33px;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 520px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
}

th {
    background: #eee;
}


/*header style*/

#header {
    height: 50px;
}

h3 {
    margin-right: 10%;
}


/*search style*/

#search_row button {
    margin: 0px 10px;
}

#search_row input {
    width: 140px;
    /* margin-right: 28%; */
}