.container {
    width: 50%;
    /* height:50% ; */
    padding: 30px;
}

#btn-grp,
#new,
#add {
    border-radius: 4px;
    text-align: center;
    margin: 1px;
    width: 70px;
}

#table {
    color: #ffffff;
}