.container {
    width: 50%;
    /* height:50% ; */
    padding: 30px;
}

#btn-grp,
#new,
#add {
    margin: 1px;
    width: 70px;
}

#table {
    color: #ffffff;
}

#table {
    overflow-y: auto;
    height: 14em;
    direction: ltr;
}

#table thead th {
    position: sticky;
    top: -1;
    background-color: #7da6ce;
    color: #000000;
}

tbody {
    background-color: #ffffff;
}