@page {}

* {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#payment_lable {
    text-align: right;
}

.container {
    border-style: solid;
    padding: 20px;
    width: 300px;
}