.container {
    width: 54em;
    height: 36em;
    padding: 0.3em;
}

#res_number {
    column-width: 3em;
}

#res_num {
    padding-right: 7.813em;
}

h2,
#inf_row {
    padding-right: 1em;
}

thead {
    background: #425262;
    color: #fff;
}

#btn-grp {
    border-radius: 0.25em;
    text-align: center;
    margin: 0.063em 0.188em;
    width: 3.75em;
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 36, 0.938);
    cursor: pointer;
}

#last_previous,
#previous,
#next,
#last_next {
    border-radius: 4px;
    margin: 0px 2px;
    padding-right: 6px;
    box-shadow: 0px 0px 5px 1px rgba(34, 34, 36, 0.938);
}

span {
    font-size: 23px;
    width: 1.563em;
}


/* نافذة بطاقة حساب */

.modal {
    position: fixed;
    overflow: auto;
}

.modal-dialog {
    min-width: 49.375em;
}

.modal-content {
    min-width: 780;
    min-height: 650px;
    border-radius: 25px;
    border-style: groove;
    margin: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    padding: 0 10px;
    display: flex;
}

.modal-body {
    position: relative;
    min-width: 780;
    min-height: 630px;
    background-color: #7da6ce;
}

#iframe_account_card {
    position: absolute;
    width: 770px;
    height: 600px;
}

.close {
    line-height: 1.5;
}


/* رقم الإيصال */

#code {
    margin-right: 20px;
    width: 70px;
    margin-right: 5px;
}

#lbl_code {
    padding-right: 25px;
    margin-left: 4px;
}


/* الجدول */

table {
    table-layout: fixed;
}

#number_col {
    width: 10%;
}

#maden_col {
    width: 20%;
}

#account_col {
    width: 30%;
}

#note_col {
    width: 40%;
}