body {
    text-align: right;
    background-color: LightGray;
}

.container {
    background-color: #5F9EA0;
    border-style: groove;
    /* width: 50%; */
    margin-top: 5%;
}

#res_number {
    column-width: 50px;
}