    /* @page {
    size: 80mm;
} */
    /* body.receipt.sheet {
    width: 58mm;
    height: 100mm;
} */
    
    @media print {
        @page {
            size: a5;
            margin: 0;
        }
    }
    /* 
@media print {
    body.receipt {
        width: 80mm
    }
} */
    
    * {
        font-size: 2px;
        font-family: Arial, Helvetica, sans-serif;
        /* margin: none;
        padding: none; */
    }
    /* #main_box {
    column-width: 50px;
    width: 10px;
} */
    /* label,
input {
    width: 60px;
} */
    /* #receipt_num {
    column-width: 50px;
} */
    /* 
#payment_lable {
    text-align: right;
} */
    
    .container {
        border-style: solid;
        margin: none;
        padding: none;
        width: 50%;
    }
    
    #receipt_number,
    #receipt_number1 {
        column-width: 10px;
        font-size: 8pt;
    }