/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 24em;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    color: #fff;
    top: 0;
}

.none {
    background: #425262;
}

tbody tr:nth-child(odd) {
    background-color: #d9e9fa;
}

tbody {
    background-color: #c5ddf7;
}


/* 
tbody .in {
    background-color: red
} */


/* tbody .out {
    background-color: green;
} */

thead .in {
    background: rgb(198, 49, 23);
    /* background-color: rgb(245, 150, 150); */
}

thead .out {
    background: #316eac;
    /* background-color: rgb(159, 247, 159); */
}


/*saerch input and button style*/

#search_row {
    margin-right: 25px;
}

#search_row div {
    margin: 0px 5px;
}

#search_row input {
    width: 135px;
}


/*date style*/

#date_row {
    margin-right: 20px;
}

#from_date,
#to_date {
    padding-left: 0px;
    padding-right: 0px;
}


/*report result style*/

#total_row input {
    width: 100px;
    border: none;
    background-color: inherit;
}

#total_row label {
    font-size: 19px;
}

#total_row {
    margin: 0px 70px;
}


/* #form_input {
    text-align: right;
    border-radius: 5px;
}

#form_btn {
    text-align: right;
} */