/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 445px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    background: rgb(223, 99, 99);
    top: 0;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody {
    background-color: rgb(238, 224, 224);
}

#in {
    background: blue;
}


/*saerch input and button style*/

#search_row {
    margin-right: 25px;
}

#search_row div {
    margin: 0px 5px;
}

#search_row input {
    width: 135px;
}


/*date style*/

#date_row {
    margin-right: 20px;
}


/*report result style*/

#total_row input {
    width: 100px;
    border: none;
    background-color: inherit;
}

#total_row label {
    font-size: 19px;
}

#total_row {
    margin: 0px 70px;
}


/* #form_input {
    text-align: right;
    border-radius: 5px;
}

#form_btn {
    text-align: right;
} */