/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 20em;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
    background: #425262;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #d9e9fa;
}

tbody {
    background-color: #c5ddf7;
}


/*saerch input and button style*/

#search_row {
    margin-right: 1.563em;
}

#search_row div {
    margin: 0em 0.313em;
}

#search_row input {
    width: 8.438em;
}


/*date style*/

#date_row {
    margin-right: 1.25em;
}

#from_date,
#to_date {
    padding-left: 0px;
    padding-right: 0px;
}


/*report result style*/

#total_row input {
    width: 6.25em;
    border: none;
    background-color: inherit;
}

#total_row label {
    font-size: 1.188em;
}

#total_row {
    border: 1px solid #000000;
    border-radius: 0.438em;
    margin-left: 5%;
    margin-right: 5%;
}


/* table */

#bill_code {
    width: 7%;
}

#date_col {
    width: 10%;
}

#item_name_col {
    width: 12%;
}

#cat_col {
    width: 10%;
}

#unit_col {
    width: 5%;
}

#buyer_col,
#seller_col {
    width: 16%;
}

#comm_col {
    width: 11%;
}

#total_col {
    width: 17%;
}