/*container style*/

.container-fluid {
    width: 100%;
    background-color: inherit;
    border: none;
}


/*table style*/

#tableFixHead {
    overflow-y: auto;
    height: 425px;
    direction: ltr;
}

#tableFixHead thead th {
    position: sticky;
    top: 0;
    background: rgb(223, 99, 99);
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody {
    background-color: rgb(238, 224, 224);
}


/*saerch input and button style*/

#search_row {
    margin-right: 25px;
}

#search_row div {
    margin: 0px 5px;
}

#search_row input {
    width: 135px;
}


/*date style*/

#date_row {
    margin-right: 20px;
}


/*report result style*/

#total_row input {
    width: 100px;
    border: none;
    background-color: inherit;
}

#total_row label {
    font-size: 19px;
}

#total_row {
    /* margin: 0px 70px; */
    border: 1px solid #67696b;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
}


/* table */

#bill_code {
    width: 7%;
}

#date_col {
    width: 10%;
}

#item_name_col {
    width: 12%;
}

#cat_col {
    width: 10%;
}

#unit_col {
    width: 5%;
}

#buyer_col,
#seller_col {
    width: 16%;
}

#comm_col {
    width: 11%;
}

#total_col {
    width: 17%;
}